{% extends "templates/layouts/base.template" %}
{% block header %}{% include "templates/partials/header.template" %}{% endblock %}
{% block body %}class {{ className | pascal_case }}Widget {}{% endblock %}
